.container-fluid
  %h1 Traders Page
  %br

  .row
    - @traders.each do |trader|
      .col-md-3
        .panel.panel-info
          .panel-heading
            = trader.name
            - if trader.is_active
              = link_to "TURN OFF", trader_path(trader, is_active: false), method: :put, :class => "btn btn-xs btn-danger pull-right"
            - else
              = link_to "TURN ON", trader_path(trader, is_active: true), method: :put, :class => "btn btn-xs btn-success pull-right"
          .panel-body
            %li
              Active:
              = trader.is_active ? "YES" : "NO"
            %li
              Market-Maker:
              = trader.is_market_maker ? "YES" : "NO"
            %li
              Trendline:
              = trader.is_trendline ? "YES" : "NO"

  .h3 Charts
  = high_chart_globals(@chart_settings)

  / = high_chart("chart-1", @chart1)
  = high_chart("chart-2", @chart2)
  = high_chart("chart-3", @chart3)
  = high_chart("chart-4", @chart4)
  = high_chart("chart-5", @chart5)
  / = high_chart("chart-6", @chart6)
  / = high_chart("chart-7", @chart7)
  = high_chart("chart-8", @chart8)
  = high_chart("chart-9", @chart9)
