<h1>Orders Page</h1>

<!-- Trader Status -->
Trader Active?: <%= Trader.find_by(name: 'default').is_active %>
<br></br>
<%= link_to("Turn ON", trader_path(nil, id: 1, is_active: true), method: :put) %>
<%= link_to("Turn OFF", trader_path(nil, id: 1, is_active: false), method: :put) %>


<h3>Charts</h3>
  <%= high_chart_globals(@chart_globals) %>

  <%= high_chart("chart-2", @chart2) %>
  <%= high_chart("chart-3", @chart3) %>
  <%= high_chart("chart-4", @chart4) %>
  <%= high_chart("chart-5", @chart5) %>
  <%= high_chart("chart-6", @chart6) %>
  <%= high_chart("chart-7", @chart7) %>
